footer {
    background-color: var(--color-background);;
    margin: 1rem 0;
}
footer p {
    border-top: 1px solid gray;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-15);
    padding: 1rem 0
}